In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas_profiling import ProfileReport

In [37]:
cash_flow = pd.read_csv("./Jobs_dataset/naukri_data_science_jobs_india.csv")

In [9]:
# ticker_to_company = pd.read_csv("./Chinese_Company_dataset/map_ticker_to_company.csv")

In [10]:
# ticker_to_company.head()

     ticker company_name
0  sh600000         浦发银行
1  sh600004         白云机场
2  sh600006         东风汽车
3  sh600007         中国国贸
4  sh600008         首创环保

In [38]:
# Generate Report
profile = ProfileReport(cash_flow, title="Data Science Jobs Report", minimal=False)

In [39]:
profile.to_file("./Jobs_dataset/jobs_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]